.loader {
    font-size: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26vh 0;
    flex-direction: column;
}

.loader::before
{
    content: "";
    display: block;
    height: 2em;
    width: 2em;
    border:.6em solid #FB6C6C;
    border-radius: 100%;
    clip-path: polygon( 
        0 0, 0 40%, 50% 40%, 50% 60%, 0 60%, 0 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0 
        );
    animation: spin 0.5s infinite ease-in-out;
    margin-bottom: 1rem;
}

.loader::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -2.8rem;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: #c2c2c2;
}
